:host {
  display: flex;
  height: 100vh;
}

.sidenav {
  width: 150px;
  flex-shrink: 0;
  background-color: red;
  border: 2px solid black;
}

.main {
  flex-grow: 1;
  overflow: auto;
  contain: strict;
}

.content-wrapper {
  margin: auto;
  min-width: fit-content;
  padding: 0 4rem;
  max-width: 1200px;
}
